.sansita-regular {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sansita-bold {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .sansita-extrabold {
    font-family: "Sansita", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .sansita-black {
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .sansita-regular-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .sansita-bold-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .sansita-extrabold-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .sansita-black-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  